body {
  margin: 0;
}

html {
  font-size: 12px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.full-wrap {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.wrap {
  width: 100%;
  background-color: #fff;
}


/* loading */

.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px!important;
}


/* flex */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}


/* element-ui */

.el-radio,
.el-checkbox {
  width: 100%;
  margin-left: 0!important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.el-checkbox__label,.el-radio {
  white-space: normal;
}
